@import 'settings';
@import 'foundation-emails';

.top-logo {
	padding-top: 15px;
	padding-bottom: 15px;
}
.quote {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
}

.line {
	border-top: 1px solid #eeeeee;
}
